.header {
  position: fixed;
  z-index: 3;
  top: 0.5rem;
  width: 96.5%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* .header: */

.logoname {
  font-family: cursive;
  font-weight: bold;
  /* font-size: 1.9rem; */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logoname:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* width: 9rem; */
  /* border: 1px solid; */
}

.navbar h1 {
  /* font-size: 1.2rem; */
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar h1:hover {
  transform: scale(1.1);
}

.signinbtn {
  /* width: 7rem;
  height: 2.7rem; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.signinbtn:hover {
  background-color: rgb(34, 34, 34);
  transform: scale(1.05);
}